.app {
  width: 100%;
  height: 100%;
  background-color:rgb(255, 255, 255) ;
  padding: 100px;
}

.nav{
  height: 20%;
}
.usrCmp{

}
.notCmp{

}
.lgnBtn{

}

.map{
  height: 50%;
}

.listaRuta{
  position: absolute;
  top:0%;
  bottom:0;
  right:40%;
  left:-70%;
  width: 60%;
}
.share{
  text-align: center;
  width: 40%;
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
